[submodule "pc-part-picker-backend"]
	path = pc-part-picker-backend
	url = https://github.com/Saffons/pc-part-picker-backend.git
[submodule "pc-part-picker-frontend"]
	path = pc-part-picker-frontend
	url = https://github.com/Saffons/pc-part-picker-frontend.git
